* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    font-family: roboto;
  }
  
  .container {
    width: 100%;
  }
  
  hr {
    width: 85%;
    margin-left: 128px;
    color: #c4c4c4;
  }
  .navbar img {
    width: 220px;
    height: 46.71px;
  }
  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: white;
    height: 70px;
  
    padding: 2rem 1.5rem;
  }
  .nav-wrapper-text {
    display: flex;
    gap: 3rem;
  }
  .nav-wrapper-text-hamburger #myHamburger {
    display: none;
  }
  .hamburger-menu {
    display: none;
    font-size: 48px;
  }
  .nav-link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  
  .nav-link a {
    color: #9f9f9f;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
  }
  
  .nav-link .beranda a {
    color: #65d4b3;
  }
  
  .login-btn {
    padding: 10px 29px;
    background-color: #65d4b3;
    text-decoration: none;
    border-radius: 10px;
    width: max-content;
  }
  
  .login-btn a {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  
  /* HERO */
  .hero img {
    
    width: 100%;
    height: auto;
  }
  
  /* SECTION APBDES */
  .apbdes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 16px;
    background-color: #00a69bbf;
    /* width: 100%; */
    height: 300px;
  }
  
  .apbdes-content {
    /* width: 825px; */
  }
  
  .apbdes-content h2 {
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: white;
    /* margin-bottom: 10px; */
    /* width: max-content; */
    /* margin-left: 155px; */
  }
  
  .apbdes-content p {
    font-size: 26px;
    color: white;
    line-height: 30px;
    /* margin-left: 70px; */
  }
  
  .apbdes-btn {
    display: flex;
    align-items: center;
    /* margin-right: 155px; */
  }
  
  .apbdes-btn button {
    width: 100%;
    background-color: white;
    color: #00a69bbf;
    padding: 5px 29px;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    border: none;
  }
  
  /* BERITA & INFORMASI */
  .berita-informasi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .section {
    width: 492px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 176px;
  }
  
  .section h2 {
    text-align: center;
    margin-bottom: 60px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: #9f9f9f;
  }
  
  .card-b,
  .card-i {
    display: flex;
    margin-bottom: 45px;
  }
  
  .card-b img {
    width: 225px;
    height: 150px;
    border-radius: 20px;
    margin-right: 35px;
  }
  
  .card-i img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin-right: 35px;
  }
  
  .card-content h3 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #9f9f9f;
  }
  
  .card-content p {
    margin-bottom: 5px;
    color: #9f9f9f;
    font-size: 20px;
    font-weight: 400;
  }
  
  .section button {
    width: 173px;
    margin-bottom: 90px;
    padding: 10px 30px;
    background-color: #4fc3a1;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: roboto;
    font-size: 16px;
    margin-left: 170px;
    cursor: pointer;
  }
  
  .label {
    background-color: #65d4b3;
    color: white;
    padding: 8.5px 15px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px 0 0 10px;
    position: absolute;
  }
  
  /* POTENSI */
  .potensi {
    text-align: center;
    margin-top: 69px;
  }
  
  .potensi h2 {
    font-size: 30px;
    font-weight: 700;
    color: #9e9e9e;
    text-decoration: underline;
  }
  
  .potensi-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    padding: 89px;
  }
  
  .potensi-card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 375px;
    margin-left: 35px;
  }
  
  .potensi-card img {
    width: 375px;
    height: 307px;
  }
  
  .potensi-content {
    padding: 14px 39px;
    text-align: left;
  }
  
  .potensi-content p {
    font-size: 18px;
    color: #9e9e9e;
    font-weight: 500;
  }
  
  /* LAYANAN */
  .layanan {
    padding: 45px 116px 127px 116px;
    text-align: center;
    border: 1px solid #c4c4c4;
  }
  
  .layanan h2 {
    font-size: 30px;
    color: #9e9e9e;
    text-decoration: underline;
    margin-bottom: 128px;
  }
  
  .layanan-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .layanan-card {
    width: 297px;
    max-width: 100%;
    text-align: center;
  }
  
  .layanan-card img {
    width: 100px;
    height: 100px;
    margin-bottom: 22px;
    border: 4px solid #00a69b;
    border-radius: 50%;
  }
  
  .layanan-card h3 {
    font-size: 20px;
    font-weight: 500;
    color: #9f9f9f;
    margin-bottom: 10px;
  }
  
  .layanan-card p {
    font-size: 18px;
    color: #9f9f9f;
    line-height: 21.09px;
  }
  
  /* PETA */
  /*  top right bottom left */
  /* top-bottom right-left */
  .container-peta {
    background-color: #eefffa;
    padding: 119px 108px;
    /* padding-left: 118px; */
    /* padding-right: 112px; */
    /* padding-top: 63px; */
    /* padding-bottom: 86px; */
    max-width: 100%;
    width: 100%;
  }
  
  .container-peta h1 {
    color: #9e9e9e;
    font-size: 30px;
    font-weight: 700px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 90px;
    padding-top: 0;
  }
  
  .content-peta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
  }
  .iframe-peta {
    width: 535px;
    height: 535px;
  }
  .text-section {
    flex: 1;
    max-width: 564px;
  }
  
  .text-section p {
    color: #9e9e9e;
    line-height: 28.13px;
    font-size: 24px;
  }
  
  .features {
    list-style: none;
    margin: 20px 0;
  }
  
  .features li {
    margin: 15px 0;
    color: #9e9e9e;
    font-size: 22px;
    font-weight: 500px;
    margin-left: 90px;
    margin-top: 15px;
    margin-bottom: 19px;
  }
  
  .features li span img {
    width: 30px;
    height: 30px;
    align-items: center;
    position: absolute;
    left: 118px;
  }
  
  .btn {
    background-color: #48c3a4;
    color: white;
    border: none;
    padding: 14px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: 700;
    margin-top: 68px;
  }
  
  .peta iframe {
    border-radius: 25px;
  }
  
  /* FOOTER */
  footer {
    background-color: #424141;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 120px;
  }
  
  .footer-content p {
    line-height: 28px;
    font-size: 24px;
    color: #9f9f9f;
    margin-bottom: 28px;
  }
  
  .sosmed {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .iconfoot a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .iconfoot img {
    display: flex;
    width: 58px;
    height: 55px;
    position: relative;
  }
  
  .iconfoot {
    display: flex;
    width: 280px;
    height: 60px;
  }
  
  @media (max-width: 1200px) {
    .content-peta {
      flex-direction: column-reverse;
    }
    .iframe-peta {
      width: calc(100vw - 238px);
    }
  }
  
  @media (max-width: 860px) {
    .navbar img {
        width: 180px;
        height: 40px;
    }
    .apbdes {
      height: 100%;
      flex-direction: column;
      align-items: start;
    }
    .apbdes h2 {
        font-size: 25px;
    }
    .apbdes-content p {
      font-size: 16px;
    }
    .apbdes-btn button {
        width: 150px;
        height: 35px;
        font-size: 15px;
    }
    .apbdes-btn {
        margin-left: 20px;
    }
    .iframe-peta {
      width: calc(100vw - 144px);
    }
    .container-peta {
      padding: 72px 64px;
    }
  }
  
  @media (max-width: 1000px) {
    .nav-wrapper-text {
      display: none;
    }
    .hamburger-menu {
      display: block;
    }
  }